<div class="nav_header">
    <div class="logo">E</div>
    <div class="logo-text">Management</div>
</div>
<ul class="side_nav">
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a><span class="menu_img fa fa-tachometer"></span><span class="menu_name">Dashboard</span></a></li>
    <li routerLink="/employees" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"><a><span class="menu_img fa fa-users"></span><span class="menu_name">Employees</span></a></li>
</ul>